# Shared environment variables for all services

# RabbitMQ (CloudAMQP)
RABBITMQ_URL=amqps://burraqtq:yFx0LDD76FrrDRFLhd2Wk_R68YfwhG00@cow.rmq2.cloudamqp.com/burraqtq
RABBITMQ_EXCHANGE=motor_exchange
RABBITMQ_QUEUE=motor.raw
RABBITMQ_ROUTING_KEY=motor.raw
RABBITMQ_DLX_QUEUE=motor.raw.dlx

# Database (shared for results storage)
DATABASE_URL=sqlite:///./shared.db

# Other shared settings
LOG_LEVEL=INFO
MAX_RETRIES=3
STRICT_VALIDATION=false

# Motor Dynamic (ingest)
DATA_DIR=src/raw
EXTENSIONS=.csv,.txt
HAS_HEADER=true
CSV_DELIMITER=,
WINDOW_SIZE=50
WINDOW_STEP=64


#services URLs for internal communication)
CONSULTING_SERVICE_URL=http://localhost:8001
MANAGERIAL_SERVICE_URL=http://localhost:8002